<h1>Listing <%= length(@users) %> Users</h1>
<table class="table">
  	<tr>
  	<td>ID</td>
  	<td>NOMBRE</td>
  	<td><%= link "Agregar", to: user_path(@conn, :new) %></td>
  	</tr>
  <%= for user <- @users do %>
  	<tr>
  	<td>(<%= user.id %>)</td>
  	<td><b><%= first_name(user) %></b></td>
  	<td><%= link "View", to: user_path(@conn, :show, user.id) %></td>
  	</tr>
  <%= end %>
</table>